{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfólio</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Meu Portfólio</h1>

   <h2>Meu nome é {{eu.nome}}</h2>
   <p>Minha altura é {{ eu.altura}}</p>

<ul>
    {% for conhecimento in eu.conhecimentos}
    <li>{{conhecimentos}}</li>
    {% endfor %}
</ul>

    <h3>Endereço:</h3>
    <p>Cidade:{{ eu.endereço.pais }}</p>
    <p>Planeta:{{ eu.endereço.planeta }}</p>


</body>
</html>